/* Убираем внешние отступы, которые установлены по умолчанию. */
body {
    margin: 0;
}

#header {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    position: fixed;
}

#footer {
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
